.App {
  background-color: white;
  margin: 10px;
}

.App-header {
  background-color: rgb(92, 92, 240);
  color: white;
  padding: 10px;
  margin:10px;
}

.App-logo {
  height: 15vmin;
  float: right;
    position: relative;
    
}
.para{
  text-align: justify;
  padding-left: 150px;
}
.email{
  display: inline-block;
  padding-top: 100px;
  margin-left: 400px;
}
.text{
  border-radius: 5%;
  padding: 10px;
  width: 50%;
  margin-left: 100px;
}
.submit{
  background-color : rgb(92, 92, 240);
  padding:10px;
  min-width: 20%;
  font-size: large;
  margin-left: 500px;
}
.tnc{
  text-align: center;
}
.cent{
  text-align: center;
}
.submit:hover{
  background-color: seashell;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}